body*/
body * {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

/*Wrapper*/
#wrapper{
	display: flex;
	align-items: center;
	height: 100%;
}

/*Header*/
header{
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex: 1;
	/*justify-content: center;
	/*align-items: center;*/
	/*align-self: stretch;*/
	padding: 24px;
}

/*Main body*/
#main{
	/*background-color: #A9BDC1;*/
	display: flex;
	flex: 3;
	flex-direction: row;
	width: 80%;
}

div.project {
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  height: 250px; /* account for borders */
  width: 250px;
}

div.project > img{
	width: 200px;
	height: 220px;
}



div.social > ul.socials{
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	margin-top: 0;
	padding: 16px;
}

div.social > ul.copyright{
	text-align: center;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #A0D3F2;
    color: #A0D3F2;
    text-align: center;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.navbar{
	background-color: #A0D3F2;
	color: white;
	margin: 0;
	width: 100%
}

.navButtons {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	height: 50px;
	margin-top: 0;
	margin-bottom: 0;
	/*color: #E9EAF2;*/
}

#header, #footer { background: url(background.jpg);
	   background-size: cover;
		color: white;
		border: none;
}



header > p{
	text-align: center;
}

#header .avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 30%;
  border-radius: 50%;
}

/*@media only screen and (max-width: 600px){
	#header{
		display: flex;
		flex-direction: 
	}
}*/
/*li.fab, li.fas{
	width: 40px;
}*/

li > a:hover {
  /*box-shadow: 0 0 2px 1px rgba(113, 245, 137, 0.5);*/
  border: 1px solid #F2B3D6;
}

.center{
	display: flex;
	align-items: center;
	justify-content: center;
}